<div class="row margintop">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <h1 class="lineh">Hi,<br>I'am <span class="text-primary">Dishant</span><br>Web Developer</h1>
    </div>
    <div class="col-md-6">
        <img class="image-responsive rounded-circle" src="assets/img/pngfind.com-business-man-png-48198.png" alt="Self image">
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <button class="btn btn-primary px-4" (click)="onContact()">Contact</button>
    </div>
</div>