<div class="row margintop">
    <div class="col-md-12 text-center">
        <h1>About Me</h1>
        <h5>----<span class="text-primary">who i am</span>----</h5>
    </div>
    <div class="row">
        <div class="col-md-5 text-center pt-5">
            <img class="rounded" style="width: 60%;" src="https://images.unsplash.com/photo-1518644672559-989648509aa8?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        </div>
        <div class="col-md-5 pt-5">
            <h3 class="pt-4">Welcome to my corner of the web!</h3>
            <p>I'm Dishant, a passionate Web Development with a love for programming. With 3 years of experience in Web Development, I've honed my skills in Angular, always pushing the boundaries of creativity and innovation. My journey in Development field has been fueled by a relentless curiosity and a drive to make a meaningful impact. Whether it's crafting captivating designs, writing compelling code, or solving complex problems, I thrive on the challenges that come with each project. Outside of work, you'll often find me programming. Let's connect and create something extraordinary together!</p>
            <form action="https://drive.google.com/file/d/1PyB1O9xVN5rr9S9qmFEJt6sT0K9b-rwT/view?usp=sharing" target="_blank">
                <!-- <button type="submit" class="btn btn-success">Download CV</button> -->
                <button class="bg-success  text-light" type="submit" mat-raised-button>Download CV</button>
            </form>
        </div>
    </div>
</div>