<div class="row mt-5">
    <div class="col-md-12 mt-5 text-center mb-2">
        <h1 class="text-primary"><u>Works</u></h1>
    </div>
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-10 d-flex flex-wrap">
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?computer" alt="">
                </div>
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?pc" alt="">
                </div>
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?laptop" alt="">
                </div>
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?desk" alt="">
                </div>
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?monitor" alt="">
                </div>
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?coding" alt="">
                </div>
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?programming" alt="">
                </div>
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?c++" alt="">
                </div>
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?php" alt="">
                </div>
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?js" alt="">
                </div>
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?keyboard" alt="">
                </div>
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?software" alt="">
                </div>
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?programmer" alt="">
                </div>
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?coder" alt="">
                </div>
                <div class="zoom-img m-2 rounded">
                    <img class="w-100" src="https://source.unsplash.com/random/300x200/?cpu" alt="">
                </div>
            </div>
        </div>
    </div>
</div>